{% extends 'partials/base.html' %}

{% block title %} password reset complete page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3> password reset complete page</h3>
                <hr>
                <div class="alert alert-success">

                    <h4> Now you can login  with you new password</h4>

                </div>
                <a href="{% url 'user-login' %}">Login</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}